<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
</head>
<body style="background-color: #111111; color: #cccccc; font-family: “Comic Sans MS”, “Comic Sans”, cursive;">
    <div class="nav">
        <div class="clr" data-clr="#000000"></div>
        <div class="clr" data-clr="#7f7f7f"></div>
        <div class="clr" data-clr="#a73d00"></div>
        <div class="clr" data-clr="#62267f"></div>
        <div class="clr" data-clr="#0123e4"></div>
        <div class="clr" data-clr="#26a2ff"></div>
        <div class="clr" data-clr="#006321"></div>
        <div class="clr" data-clr="#66ff00"></div>
        <div class="clr" data-clr="#ffe90e"></div>
        <div class="clr" data-clr="#ff6d09"></div>
        <div class="clr" data-clr="#e30e12"></div>
        <div class="clr" data-clr="#ff148d"></div>
        <div class="clr" data-clr="#ffffff"></div>
        <button id="clear-button" class="clear">clear</button>
        <button id="save-button" class="save">save</button>
    </div>

    <label id="room-id">Room ID: </label><br>
    <label id="user-id">Nickname: </label><br>
    <textarea id="chat-log" cols="60" rows="20" style="background-color: #111111; color: #cccccc;"></textarea>
    <div class="canvas-panel" id="canvas-panel">
        <canvas id="canvas"></canvas>
    </div>
    <br>
    <input id="chat-message-input" type="text" size="60" style="background-color: #111111; color: #cccccc;"><br>
    <input id="chat-message-submit" type="button" value="Send"><br>
    <p>Players:</p>
    <ul id="player-list"></ul><br>

    {{ room_name|json_script:"room-name" }}
    {{ user_name|json_script:"user-name" }}

    {% if latest_messages %}
        {% for message in latest_messages %}
            <script mssg="{{ message.text }}", sndr="{{ message.sender}}">
                message = document.currentScript.getAttribute('mssg');
                sender = document.currentScript.getAttribute('sndr');
                document.querySelector('#chat-log').value += (sender + ": " + message + '\n');
            </script>
        {% endfor %}
    {% endif %}

    <script src="{% static 'chat/sockets.js' %}"t></script>
    <script src="{% static 'chat/draw.js' %}"></script>
</body>
</html>