<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
    {{ room_name|json_script:"room-name" }}
    {{ user_name|json_script:"user-name" }}
</head>
<body>
    <div id="overlay" class="overlay">
        <br><br>
        <h1>Waiting for players!</h1>
        <button id="start-game">Start game</button>
        <ul id="player-log"></ul><br>
    </div>
    <div id="word-div" class="word">
        <h3 id="word" style="color: #ffffff;">Waiting for game to start</h3>
    </div>
    <div id="div-timer" class="timer">
        <h2 id="timer" style="color: #ffffff;">00:00</h2>
    </div>
    <label id="room-id">Room ID: </label><br>
    <label id="user-id">Nickname: </label><br>
    <textarea id="chat-log" cols="40" rows="20" style="background-color: #111111; opacity: 80%; color: #cccccc;"></textarea>
    <div class="canvas-panel" id="canvas-panel">
        <canvas id="canvas"></canvas>
    </div>
    <br>
    <input id="chat-message-input" type="text" size="32" style="background-color: #111111; opacity: 80%; color: #cccccc;"><br>
    <input id="chat-message-submit" type="button" value="Send"><br>
    <div class="nav">
        <div class="clr" data-clr="#000000"></div>
        <div class="clr" data-clr="#7f7f7f"></div>
        <div class="clr" data-clr="#a73d00"></div>
        <div class="clr" data-clr="#62267f"></div>
        <div class="clr" data-clr="#0123e4"></div>
        <div class="clr" data-clr="#26a2ff"></div>
        <div class="clr" data-clr="#006321"></div>
        <div class="clr" data-clr="#66ff00"></div>
        <div class="clr" data-clr="#ffe90e"></div>
        <div class="clr" data-clr="#ff6d09"></div>
        <div class="clr" data-clr="#e30e12"></div>
        <div class="clr" data-clr="#ff148d"></div>
        <div class="clr" data-clr="#ffffff"></div>
        <button id="clear-button" class="clear">clear</button>
        <button id="save-button" class="save">save</button>
    </div>
    <p>Players: nickname - score</p>
    <ul id="player-list"></ul><br>

    {% if latest_messages %}
        {% for message in latest_messages %}
            <script mssg="{{ message.text }}", sndr="{{ message.sender }}">
                message = document.currentScript.getAttribute('mssg');
                sender = document.currentScript.getAttribute('sndr');
                textarea = document.querySelector('#chat-log');
                if (sender === null) {
                    textarea.value += (message + '\n');
                }
                else {
                    textarea.value += (sender + ": " + message + '\n');
                }
                textarea.scrollTop = textarea.scrollHeight;
            </script>
        {% endfor %}
    {% endif %}

    <script src="{% static 'chat/sockets.js' %}"t></script>
    <script>
        function formatSeconds(seconds) {
            const mins = Math.floor(seconds / 60);
            const secs = seconds%60;
            return mins.toString().padStart(2, '0') + ":" + secs.toString().padStart(2, '0');
        }

        function delay(time) {
            return new Promise(resolve => setTimeout(resolve, time));
        }

        async function startTimer(seconds) {
            console.log('start timer')

            document.querySelector('#timer').innerHTML = formatSeconds(seconds)
            for (let step = seconds-1; step >= 0; step--) {
                await delay(1000)
                document.querySelector('#timer').innerHTML = formatSeconds(step)
            }

            overlay.attach()

        }

        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);

            if (data.painter != userName) {
                can_draw = false;
                can_chat = true;
            }
            else {
                can_draw = true;
                can_chat = false;
                var msg = {
			        "message": userName + " is painter.",
			        "sender": null
			    };
                chatSocket.send(JSON.stringify(msg));
            }

            $.ajax({
                type: 'GET',
                url: "get_word/",
                data: { "nickname": userName },
                success: function (response) {
                    document.getElementById("word").innerHTML = response.word
                }
            });

            var detached = $('#overlay').detach();

            startTimer(data.timer)
        };

        document.querySelector('#start-game').onclick = function(e) {
            console.log("Game start")


            $.ajax({
                type: 'GET',
                url: "start_game/",
                data: { "nickname": userName },  // data is not used currently
                success: function (response) {
                    if (response.start == true) {
                        let data = { "sender": userName };
                        gameSocket.send(JSON.stringify(data));
                    }
                    else {
                        $.ajax({
                            type: 'GET',
                            url: "get_word/",
                            data: { "nickname": userName },
                            success: function (data) {
                                document.getElementById("word").innerHTML = data.word
                            }
                        });

                        const element = document.getElementById("overlay")
                        element.remove()

                        startTimer(response.timer)
                    }
                }
            });
        };
    </script>
    <script src="{% static 'chat/draw.js' %}"></script>
</body>
</html>