body {
  background-image: url(background2.png);
  background-repeat: repeat;
  color: #cccccc;
  font-family: “Comic Sans MS”, “Comic Sans”, cursive;
  //-webkit-text-stroke: 1px #000000;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0.3,0.8);
  text-align:center;
  z-index: 2;
}

.canvas-panel{
    position: absolute;
    background-color: #ffffff;
    display: inline-block;
    width: 800px;
    height: 500px;
    line-height: 0px;
}

.word{
    margin: auto;
    width: 800px;
    height: 40px;
    position: absolute;
    //fixed;
    text-align: center;
    vertical-align: top;
    left: 0%;
    right: 0%;
    //background: #456789;
    top: 0;
}

.timer{
    height: 40px;
    position: absolute;
    text-align: center;
    vertical-align: top;
    left: 0%;
    right: 0%;
    //background: #987654;
    top: 540px;
}

.header {
    -webkit-text-stroke: 1px #000000;
}

.textarea {
    background-color: #111111;
    opacity: 50%;
    color: #ffffff;
    position: absolute;
}

.nav{
    width: 700px;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: .3;
    transition: opacity .5s;

}
.nav:hover{
    opacity: 1;
}

.clr{
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    transition: transform .5s;
}
.clr:hover{
    transform: scale(1.2);
}
.clr:nth-child(1){
    background-color: #000000;
}
.clr:nth-child(2){
    background-color: #7f7f7f;
}
.clr:nth-child(3){
    background-color: #a73d00;
}
.clr:nth-child(4){
    background-color: #62267f;
}
.clr:nth-child(5){
    background-color: #0123e4;
}
.clr:nth-child(6){
    background-color: #26a2ff;
}
.clr:nth-child(7){
    background-color: #006321;
}
.clr:nth-child(8){
    background-color: #66ff00;
}
.clr:nth-child(9){
    background-color: #ffe90e;
}
.clr:nth-child(10){
    background-color: #ff6d09;
}
.clr:nth-child(11){
    background-color: #e30e12;
}
.clr:nth-child(12){
    background-color: #ff148d;
}
.clr:nth-child(13){
    background-color: #ffffff;
}
