<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scribble</title>
</head>
<body style="background-color: #111111; color: #cccccc; font-family: “Comic Sans MS”, “Comic Sans”, cursive;">
    <button id="play-game">Join game</button><br>
    <button id="create-game">Create private game</button>

    <script>
        document.querySelector('#play-game').onclick = function(e) {
            window.location.pathname = '/join-room/';
        };

        document.querySelector('#create-game').onclick = function(e) {
            window.location.pathname = '/create-room/';
        };
    </script>

</body>
</html>